body {
  font-family: cursive, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    rgba(255, 99, 71, 0.9),
    rgba(30, 144, 255, 0.9)
  );
  min-height: 100vh;
}

header {
  padding: 16px 24px;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

header p {
  color: black;
}

main {
  padding: 32px 42px;
}

.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

label {
  text-align: center;
}

input {
  padding: 8px;
  font-size: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

input:focus {
  outline: none;
}

input:hover {
  transform: scale(1.1);
}

p {
  margin: 0;
  color: #f4f4ccf7;
  overflow-wrap: anywhere;
}

@media (max-width: 500px) {
  input {
    font-size: 12px;
  }
  header {
    padding: 12px 18px;
  }
}
